.bookList {
  display: grid;
  list-style-type: none;
  padding: 0;
  margin: 0;

  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 1rem;
}

.book img {
  width: 10rem;
  aspect-ratio: 0.618;
  object-fit: cover;
  /* background-color: green; */
}

.bookList .book img {
  width: 100%;
}

.torrentList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.torrentHeader {
  font-weight: bold;
}
.torrent {
  display: grid;
  cursor: pointer;

  grid-template-areas:
    "title   title   title"
    "size    seeders peers "
    "tracker tracker tracker";

  margin-bottom: 1rem;
  gap: 0.25rem;
}

.torrent > * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.torrent > :nth-child(1) {
  grid-area: title;
}
.torrent > :nth-child(2) {
  grid-area: size;
}
.torrent > :nth-child(3) {
  text-align: right;
  grid-area: seeders;
}
.torrent > :nth-child(3)::after {
  padding-left: 0.25rem;
  content: "/";
}
.torrent > :nth-child(4) {
  grid-area: peers;
}
.torrent > :nth-child(5) {
  grid-area: tracker;
}

@media (min-width: 750px) {
  .torrentHeader {
    display: none;
  }
  .torrent {
    display: flex;
    margin-bottom: 0;
  }
  .torrent > * {
    padding: 0.25rem;
  }
  .torrent > * {
    border-bottom: solid 1px black;
  }
  .torrent > :nth-child(1) {
    width: calc(100% - 400px);
  }
  .torrent > :nth-child(2) {
    width: 150px;
  }
  .torrent > :nth-child(3) {
    width: 50px;
    text-align: initial;
  }
  .torrent > :nth-child(3)::after {
    content: none;
  }
  .torrent > :nth-child(4) {
    width: 50px;
  }
  .torrent > :nth-child(5) {
    width: 150px;
  }
}
